__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

.venv
env/
venv/
ENV/

.env

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db
desktop.ini

*.log

*.spv
*.cache

DIR-Old/
DIR-Screenshots/
DIR-Test/
